.header {
    background-color: white;
    border: 1px solid #28a745;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.animated {
    transition-duration: 0.5s;
    overflow: hidden;
}

.expand {
    opacity: 0 !important;
    height: 0;
    padding: 0 1.25rem;
}

.body {
    overflow: hidden;
}

.title {
    color: white;
    text-shadow: 0px 2px 2px #28a745;
}

.messages {
    position: fixed;
    top: 30px;
    width: 300px;
    height: 150px;
    color: white;
    z-index: 10;
    transition-duration: 0.5s;    
}

input[isvalid=false] {
    border-color: red !important;
}

.show {
    right: 30px;    
}

.hide {
    right: -330px;
}

.hideTotal {
    display: none;
}

.card-header {
    font-weight: bold;
}
